/* frame styles */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header > nav {
  padding: 8px 16px;
}
.header {
  padding: 8px 16px;
  position: sticky;
  top: 0;
  box-shadow: var(--header-shadow);
  font-size: var(--size-600);

  z-index: 1;
  background-color: var(--background-color);
}
.header-left {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.header-title {
  display: flex;
  align-items: center;
}
.header-github-input-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 24px;
  font-size: var(--size-500);
}
.header-github-input-form input {
  font-size: var(--size-500);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-right {
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-github-link {
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  font-size: var(--size-400);

  display: flex;
  justify-content: center;
  align-items: center;
}
.header-github-link img {
  padding-left: 0.6rem;
}
.header-toggle {
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}
.header-toggle:hover {
  background-color: var(--sidebar-hover-color);
}

.sidebar {
  border-right: 1px solid var(--sidebar-border-color);
  padding: 1rem;
  max-height: calc(100vh - (var(--header-height) + 2rem));
  overflow-y: auto;
  position: sticky;
  top: calc(var(--header-height));
}

.sidebar li {
  padding: 6px 12px;
  border-radius: 4px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar li.file {
  cursor: pointer;
}
.sidebar li.file:hover {
  background-color: var(--sidebar-hover-color);
}

.sidebar ul ul {
  padding-left: 12px;
}

/* main */
.main {
  position: relative;
  display: grid;
  gap: 0px;
  grid-template-columns: 75% 25%;
  grid-template-areas: "content index";

  padding: 1rem;
}

.content {
  grid-area: content;
}
.content {
  padding: 0 2rem 0 1rem;
}
.index {
  grid-area: index;
}
.index > ul {
  max-height: calc(100vh - (var(--header-height) + 2rem));
  overflow-y: auto;
  position: sticky;
  top: calc(var(--header-height));
}
.index > ul {
  border-left: 1px solid var(--sidebar-border-color);
  padding: 0.5rem;
}
.index li {
  color: #77757a;
  border-radius: 4px;
  margin: 0.5rem;
  cursor: pointer;
}
.index li:hover {
  background-color: var(--sidebar-hover-color);
}
.index li > a {
  padding: 0.5rem;
  display: block;
}

.input-sizer::after {
  content: attr(data-value) " ";
  visibility: hidden;
}

.input-sizer {
  display: inline-grid;
  vertical-align: top;
  align-items: center;
  position: relative;
}

.input-sizer::after,
.input-sizer input {
  width: auto;
  min-width: 1em;
  grid-area: 1 / 2;
  font: inherit;
  resize: none;
  background: none;
  appearance: none;
  border: none;
  box-sizing: border-box;
}
