/* grid layout */
.app {
  display: grid;
  gap: 0px;
  grid-template-columns: 300px calc(100% - 300px);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "sidebar  main";
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}
