html {
  font-size: 10px;
}
body {
  font-size: 1.6rem; /* 16px */
}
p {
  font-size: var(--size-400);
}

label {
  font-size: var(--size-300);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 1rem;
  margin-top: 2.4rem;
  margin-bottom: 1.6rem;
}
h1 {
  font-size: var(--fontsize-h1);
  border-bottom: 1px solid var(--md-border-muted-color);
}
h2 {
  font-size: var(--fontsize-h2);
  border-bottom: 1px solid var(--md-border-muted-color);
}
h3 {
  font-size: var(--fontsize-h3);
}
h4 {
  font-size: var(--fontsize-h4);
}
h5 {
  font-size: var(--fontsize-h5);
}
h6 {
  font-size: var(--fontsize-h6);
  color: var(--md-blockquote-color);
}

pre {
  display: block;
  position: relative;
  background-color: var(--md-code-background-color);
  border-radius: 0.4rem;
  overflow: auto;
}
pre > code {
  display: block;
  padding: 16px;
}
p > code {
  background-color: var(--md-inline-code-background-color);
  border-radius: 6px;
  padding: 0.2em 0.4em;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
}
table tr {
  background-color: var(--background-color);
  border-top: 1px solid var(--md-border-muted-color);
}
table th,
table td {
  padding: 0.6rem 1.3rem;
  border: 1px solid var(--md-table-border-color);
}
table tr:nth-child(2n) {
  background-color: var(--md-table-even-row-background-color);
}

blockquote {
  color: var(--md-blockquote-color);
  border-left: 4px solid var(--md-blockquote-border-color);
  padding-left: 1.6rem;
  margin: 0;
}

input[type="checkbox"] {
  margin: 0 0.5rem 0 0.5rem;
  vertical-align: middle;
}

.content ul ul {
  padding-left: 3.2rem;
}

.content li {
  margin-top: 0.4rem;
}
