/* reset default styles */
html,
body {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  font-family: sans-serif;

  transition: color 0.185s ease-in;
  transition: background-color 0.185s ease-in;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--a-color);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

input {
  padding: 0;
  background-color: transparent;
  border: 0;
  color: var(--text-color);
}
input:focus {
  outline: none;
}
button {
  padding: 0;
  background-color: transparent;
  border: 0;
  color: var(--text-color);
  cursor: pointer;
}

small {
  font-size: var(--size-300);
}
